.main {
  width: 100%;
  height: 1950px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 6;
  padding-top: 60px;
}

.title {
  width: 100%;
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  text-align: center;
}

.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.step {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;

  opacity: 0;
  transition: 
    opacity 0.7s ease,
    transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.step:nth-child(odd) {
  transform: translateX(-40px);
}


.step:nth-child(even) {
  transform: translateX(40px);
  flex-direction: row-reverse;
}


.step.animate {
  opacity: 1;
  transform: translateX(0);
}

.stepNumber {
  width: 80px;
  height: 80px;
  background-color: rgb(245, 202, 161);
  color: #000;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  flex-shrink: 0;
}

.stepContent {
  flex: 1;
  border: 0.5px solid rgb(245, 202, 161);
  color: white;
  padding: 40px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.step:nth-child(even) .stepContent {
  text-align: right;
  align-items: flex-end;
}

.step:nth-child(even) .timeBadge {
  justify-content: flex-end;
}

.titleCard {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
}

.textCard {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 15px;
}

.textCard strong {
  font-weight: 600;
  color: #fff;
}

.timeBadge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 300;
  width: fit-content;
  background: rgba(245, 202, 161, 0.15);
  color: rgb(245, 202, 161);
}