.main{
    width: 100%;
    height: 980px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    
}
.pics{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transform: translateX(-10%);
}
.titleText{
    transform: translateY(-50px);
}
.title{
    width: 54%;
    height: 100%;
    transform: translateY(10%);
    letter-spacing: 1.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.woodSvg{
    width: 40px;
    height: 40px;
}
.iconWood:hover .woodSvg {
  color: #000000;
}
.subTitle{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    transform: translateX(3%) translateY(40px);
}
.element{
    width: 32%;
    display: flex;
    flex-direction: column;
}
.textSubTitle{
    font-size: 16px;
    color: white;
    font-weight: 200;
    margin-top: 10px;
    text-align: left;
}
.picOne{
    width: 70%;
    height: 80%;
    background-image: url(./pics/stock-photo-part-of-the-facade-of-a-wooden-house-in-modern-style-and-sun-rays-1145110241\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    border: 0.5px solid rgb(245,202,161);
}
.picTwo{
 width: 70%;
    height: 70%;
    background-image: url(./pics/stock-photo-an-administrative-building-with-an-artificial-pond-in-a-pine-forest-the-building-is-a-pavilion-2236925385\ \(1\).jpeg);
        background-size: cover;
    transform: translateX(200px) translateY(-155px);
        border: 0.5px solid rgb(245,202,161);
}
.buttons{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    transform: translateY(94%);
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    font-weight: 300;
}
.titleText{
color: white;
    font-size: 70px;
    text-align: center;
}
.order{
    color: rgb(245,202,161);
    font-size: 70px;
    text-align: center;
}
.podr{
   width: 80%;
    height: 120px;
    background-color: transparent;
    border: 0.5px solid rgb(245,202,161);
    color: white;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    padding: 20px 40px;
}
.podr:hover{
    background-color: white;
    color: black;
}
.getProjects:hover{
     background-color: white;
    color: black;
}
.getProjects{
    width: 80%;
    height: 120px;
    background-color: transparent;
    border: 0.5px solid rgb(245,202,161);
    color: white;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;
     transition: all 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

