.main{
    width: 100%;
    height: 700px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.title{
    width: 90%;
    text-align: center;
    font-size: 50px;
    color: white;
}
.containerForFour{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.first, .second, .third, .fourth{
    width: 20%;
    height: 100%;
    background-color: transparent;
    border: 0.5px solid rgb(245,202,161);
}
.iconDoor{
    width: 70px;
    height: 70px;
    transform: translateX(12px);
}
.iconBrigada{
width: 60px;
    height: 60px;
     transform: translateX(12px) translateY(5px);
}
.iconMoney{
width: 60px;
    height: 60px;
     transform: translateX(12px) translateY(12px);
}
.iconSmeta{
width: 60px;
    height: 60px;
     transform: translateX(12px) translateY(12px);
}