
.card {
  width: 100%;
  height: 100%;
  border: 0.5px solid rgb(245, 202, 161);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.picContainer{
     position: relative;
  width: 100%;
  height: 600px;
}
.pic{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: white;
  width: 100%;
  text-align: center;
   min-height: 160px;
}

.name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
}

.infoTwo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.price {
  font-weight: 600;
  color: rgb(245, 202, 161);
}

.meters,
.floorsAndSleep {
  color: white;
}
.navButton {
  position: absolute;
  top: -0px;
  left: -0px;
  width: 60px;
  height: 60px;
  background: rgb(245, 202, 161);
  border: transparent;
  color: white;
  font-weight: 200;
  cursor: pointer;
  display: flex;
  outline: none;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0; 
  transition: all 0.2s;
  z-index: 3;
}

.navButton:hover {
  background: rgba(255, 255, 255, 0.915);
  color: rgb(245, 202, 161);
}

.navButton + .navButton {
  left: 59px;
}
.moreButton {
  position: absolute;
  bottom: -1px;
  right: -0.5px;
  width: 150px;
  height: 48px;
  background: rgb(0, 0, 0);
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; 
  outline: none;
  transition: background 0.2s;
  z-index: 2;
  border-top: 0.5px solid rgb(245, 202, 161);
  border-left: 0.5px solid rgb(245, 202, 161);
  box-sizing: border-box;
}

.moreButton:hover {
  background: rgba(255, 255, 255, 0.915);
  color: rgb(0, 0, 0);
  outline: transparent;
}
.moreButton,
.moreButton:focus,
.moreButton:focus-visible {
  outline: transparent;
}