.main{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid rgb(245,202,161);
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoPic{
    width: 100%;
    height: 80%;
    background-image: url(./pic/logo.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.navigation{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whyUs, .contacts, .chooseProject, .reviews{
    width: 20%;
    height: 50%;
    color: white;
    background-color: transparent;
    border: 0.5px solid rgb(245,202,161);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 300;
}
.whyUs:hover, .contacts:hover, .chooseProject:hover, .reviews:hover{
    background-color: white;
    color: black;
}