@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Unbounded:wght@200..900&display=swap');
*{
    font-family: "Unbounded", sans-serif;
}
.your-class {
    width: 40%;
    height: 50%;
    color: white;
    line-height: 1.6;
    text-align: left; 
    font-weight: 300; 
    hyphens: auto;
    font-size: 30px;
}


.ultra-light { font-weight: 200; }
.light { font-weight: 300; }
.normal { font-weight: 400; }
.medium { font-weight: 500; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 800; }
.black { font-weight: 900; }