@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Unbounded:wght@200..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  color: white;
  font-family: "Unbounded", sans-serif;
  min-height: 100vh;
}

#root, .App {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}


html {
  overscroll-behavior: none;
}


body::-webkit-scrollbar {
  display: none;
}


.ultra-light { font-weight: 200; }
.light { font-weight: 300; }
.normal { font-weight: 400; }
.medium { font-weight: 500; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 800; }
.black { font-weight: 900; }

code {
  font-family: "Unbounded", monospace;
}